<!-- Share This {$type} -->
{$type=$params.type}
<div id="share_form_div" class="action_box share_form clearfix">
    <div class="form-group">
        <label for="link_video">{lang code='link_this_video'}</label>
        <input type="text" name="link_video" id="link_video"  value="{videoLink vdetails=$vdo}"  onclick="this.select()"  class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="embed_code">{lang code='embed_code'}</label>
        <textarea name="embed_code" id="embed_code" onclick="this.select()"  class="form-control" rows="5">{if $Cbucket->configs.embed_type=='iframe'}{$cbvid->embed_code($vdo,'iframe')|htmlspecialchars}{else}{$cbvid->embed_code($vdo,'embed_object')|htmlspecialchars}{/if}</textarea>
    </div>
    
    <div class="form-group">
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <div class="player_size">
                        <label>{lang('player_size')}</label>
                        <label class="radio-inline">
                            <input type="radio" name="player_size" value="default" id="player_size_0" checked="checked"
                                   onclick="{$updateEmbedCode}('{$Cbucket->configs.embed_player_width}'
                                ,'{$Cbucket->configs.embed_player_height}',autoPlayEmbed)"/>
                            {lang('default')} ({$Cbucket->configs.embed_player_width}x{$Cbucket->configs.embed_player_height})
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="player_size" value="small" id="player_size_1" onclick="{$updateEmbedCode}('440','272',autoPlayEmbed)" />
                            {lang('small')} (440x272)
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="player_size" value="medium" id="player_size_2"  onclick="{$updateEmbedCode}('540','334',autoPlayEmbed)"/>
                            {lang('medium')} (540x334)
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="player_size" value="large" id="player_size_3"  onclick="{$updateEmbedCode}('600','370',autoPlayEmbed)"/>
                            {lang('large')} (600x370)
                        </label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="player_embed_type">
                        <label>{lang('embed_type')}</label>
                        <label class="radio-inline">
                            <input type="radio" name="embed_type" value="iframe" onclick="switchEmbedCode('iframe')" {if $Cbucket->configs.embed_type=='iframe'} checked{/if} />Iframe
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="embed_type" value="object"  onclick="switchEmbedCode('embed_object')" {if $Cbucket->configs.embed_type=='embed_object'} checked{/if}/>Embed Object
                        </label>
                    </div>

                    <div class="player_shareAt checkbox">
                        <label class="col-sm-6">
                            <input type="checkbox" name="startAt" id="startAt" value="1"> {lang('shareStartAt')} 
                            
                        </label>
                        <input type="text" name="startAtTime" id="startAtTime" class="col-sm-6" value="" title="{lang('shareStartAtInfo')}" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <input type="hidden" name="alternate_embed_code" id="alternate_embed_code" value="{if $Cbucket->configs.embed_type=='iframe'}{$cbvid->embed_code($vdo,'embed_object')|htmlspecialchars}{else}{$cbvid->embed_code($vdo,'iframe')|htmlspecialchars}{/if}" />
</div>

<script>
    function toggleStartAt(){
        var sat = $('#startAtTime');
    
        if(!$(this).is(':checked')){
            sat.prop('disabled', true);
            sat.off('keyup.startAt');
            deleteStartAt();
        } else {
            sat.prop('disabled', false);
            startAt();
            sat.on('keyup.startAt', startAt);
        }
    }
    
    function deleteStartAt(){
        var ec = $('#embed_code'),
            aec = $('#alternate_embed_code'), 
            reg = /(value|src)\="http(\S+)((&|\?)start\=\d*)(\S*)"/gi;
        
        $.each([ec, aec], function(){
            this.val(this.val().replace(reg, function(x){
                x = x.replace(/\&start\=\d*/gi, '');
                x = x.replace(/\?start\=\d*&/gi, '?');
                x = x.replace(/\?start\=\d*/gi, '');
                return x;
            }));
        });
    }
    
    function calcStartAt(){
        var t = $('#startAtTime').val().split(':'),
            res = 0;            
    
        if(t.length === 1){
            res = parseInt(t[0]);
            res = isNaN(res) ? 0 : res;
        } else if(t.length < 4) {
            var i = 0, tmp = 0;
            if(t.length === 3){
                res = parseInt(t[i++]);
                res = isNaN(res) ? 0 : res * 3600;
            }
            
            var tmp = parseInt(t[i++]);
            tmp = isNaN(tmp) ? 0 : tmp * 60;
            res += tmp;
            tmp = parseInt(t[i]);
            res += isNaN(tmp) ? 0 : tmp;
        }
        
        return res;
    }
    
    function startAt(){
        if(!$('#startAt').is(':checked')) return;
        
        var start = calcStartAt(),
            ec = $('#embed_code'),
            aec = $('#alternate_embed_code');
        
        $.each([ec, aec], function(){
            this.val(this.val().replace(/(value|src)\="http\S+"/gi, function(x){
                if(start === 0){
                    deleteStartAt();
                }
                
                x = x.substring(0, x.length - 1);
                if(!/start\=\d*/gi.test(x)){
                    return x+'&start='+ start +'"';
                }
                
                return x.replace(/start\=\d*/gi, 'start='+ start +'"');
            }));
        });
    }
    
    $(document).ready(function(){
        $('body').on('submit','#cb_share_item',function(e){
            e.preventDefault();
            _cb.submit_share_form('share_form','{$params.type}');return false;
        });
        
        $("#copy").on('click',function(){
            $("#embed_code").select();
            document.execCommand( 'copy' );
            return false;
        });
        
        $('#startAt').change(toggleStartAt);
        
{* CORRECTION VIDEO.CLASS.PHP *}
        $('#embed_code').val($('#embed_code').val().replace(/type\="application\/x-shockwave-flash"/gi, ' type="application/x-shockwave-flash"'));
        $('#alternate_embed_code').val($('#alternate_embed_code').val().replace(/type\="application\/x-shockwave-flash"/gi, ' type="application/x-shockwave-flash"'));
{* /FIN CORRECTION *}
    })
</script>